body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: cornflowerblue;
}

.controls-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.control-item {
  flex: 1;
  display: flex;
  flex-direction: row;  
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  color: #444;
  min-width: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 20px;
}

.date-control-item input,
.date-control-item select,
.control-item input,
.control-item select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

input[type="date"],
input[type="datetime-local"],
input[type="text"],
select {
  min-width: 150px;
  text-align: center;
  margin: auto;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width:100% - 280px;
  margin-left:280px;
}

table {
  margin: auto;
  border-collapse: collapse;
  width:95%;
}

th {
  background-color: cornflowerblue;
  color: white;
  padding: 8px;
  white-space: nowrap;
  min-width: 5%;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3),
td:nth-child(5),
td:nth-child(6) {
  min-width: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

td:nth-child(4) {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal; /* Override white-space property if it is inherited */
  text-align: center;
  overflow: visible; /* Ensures content isn't being cut off */
  height: auto;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: white;
}

tr:hover {
  background-color: #b3b3b3;
}

.delete-button {
  background-color: red; /* Red background */
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

button {
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  font-weight: bold;
  border-radius: 5px; /* Rounded corners */
  min-width: 50px;
  transition: background-color 0.3s; /* Transition for a smooth hover effect */
}

.process-control-button-running {
  background-color: red;
}

.process-control-button-stopped {
  background-color: green;
}

.summary-section {
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  border-radius: 5px;  
  margin: auto;
}

.summary-section p {
  
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #444;
  font-size: 1rem;
  text-align: left;
}

.summary-section p:last-child {
  border-bottom: none;
}

.summary-duration {
  font-weight: bold;
  color: green;
}

.summary-duration-unassigned {
  font-weight: bold;
  color: red;
}

.summary-duration-total, .summary-earnings {
  font-weight: bold;
  color: black;
}


.side-menu {
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: cornflowerblue;
  overflow-x: hidden;
  align-items: center;
}

